
    <div class="navbar">
                <button class=""><a routerLink="/loan-desktop" routerLinkActive="active">desktop</a></button>
                <a routerLink="/cars-list" routerLinkActive="active">lista samochodów</a>
                <a routerLink="/clients-list" routerLinkActive="active">lista klientów</a>
                <a routerLink="/loan-list" routerLinkActive="active">lista wypożyczeń</a>
                <a routerLink="/loan-form" routerLinkActive="active">nowe wypożyczenie</a>
    </div>