<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered">
        <thead class="table table-dark">
            <tr>
                <th>vehicle details</th>
            </tr>
        </thead>
        <tbody *ngIf="vehicleCopy != null">
            <th style="max-width: 30mm;">
                <div class="rounded" [ngClass]="{'Bus': vehicleCopy.type=='Bus',
                                                 'PassengerCar': vehicleCopy.type=='PassengerCar',
                                                 'Motorcycle': vehicleCopy.type=='Motorcycle',
                                                 'Truck': vehicleCopy.type=='Truck'}">
                    <ul>
                        <li>
                            type: <input class="rounded" [ngClass]="type_input_CSS_class" [(ngModel)]="vehicleCopy.type" requeired readonly>
                        </li>
                        <li>
                            registration number: <input class="rounded" [ngClass]="registration_number_input_CSS_class" [(ngModel)]="vehicleCopy.registration_number" requeired>
                        </li>
                        <li>
                            color: <input class="rounded" [ngClass]="color_input_CSS_class" [(ngModel)]="vehicleCopy.color">
                        </li>
                        <li>
                            car mileage: <input class="rounded" [ngClass]="car_mileage_in_kilometers_input_CSS_class" type="number" [(ngModel)]="vehicleCopy.car_mileage_in_kilometers"
                                min="50" max="10000000" requeired> kilometers
                        </li>
                        <li>
                            number of seats: <input class="rounded" [ngClass]="seats_input_CSS_class" type="number" [(ngModel)]="vehicleCopy.seats" min="1" max="100"
                                requeired>
                        </li>
                        <li>
                            power: <input class="rounded" [ngClass]="power_input_CSS_class" type="number" [(ngModel)]="vehicleCopy.power" min="1" max="10000"
                                requeired> horse power
                        </li>
                        <li>
                            weight: <input class="rounded" [ngClass]="weight_input_CSS_class" type="number" [(ngModel)]="vehicleCopy.weight" min="1" max="100000"
                                requeired> kilograms
                        </li>
                        <li>
                            has air conditioning: <input class="rounded" [ngClass]="hasAirConditioning_input_CSS_class" type="boolean" [(ngModel)]="vehicleCopy.hasAirConditioning"
                                requeired>
                        </li>
                        <div [ngSwitch]="vehicleCopy.type">

                            <app-bus-form *ngSwitchCase="'Bus'" [selectedBus]="selectedVehicle" 
                            (changesSubmitted)="submitChanges($event)"></app-bus-form>

                            <app-motorcycle-form *ngSwitchCase="'Motorcycle'" [selectedMotorcycle]="selectedVehicle"
                            (changesSubmitted)="submitChanges($event)"></app-motorcycle-form>
                           
                            <app-passenger-form *ngSwitchCase="'PassengerCar'" [selectedPassengerCar]="selectedVehicle"
                            (changesSubmitted)="submitChanges($event)"></app-passenger-form>
                            
                            <app-truck-form *ngSwitchCase="'Truck'" [selectedTruck]="selectedVehicle"
                            (changesSubmitted)="submitChanges($event)"></app-truck-form>
                        </div>
                    </ul>
                </div>
            </th>
        </tbody>
    </table>
</div>
