<div class="row">
    <div class="col">
        <app-cars-list class="carsList" (clickedVehicle)="onVehicleSelected($event)"></app-cars-list>
        <div class="freezedArea rounded" *ngIf="editButtonClicked || newButtonClicked">
            Confirm changes first.
        </div>
    </div>
    <div class="col">
        <div *ngIf="!newButtonClicked">
            <div *ngIf="!editButtonClicked">
                <div *ngIf="selectedVehicle != null">
                    <app-car-details [vehicle]="selectedVehicle"></app-car-details>
                </div>
            </div>
            <div *ngIf="editButtonClicked">
                <app-car-form [selectedVehicle]="selectedVehicle" (changesSubmitted)="changesSubmitted($event)">
                </app-car-form>
            </div>
        </div>
        <div *ngIf="newButtonClicked">
            <div *ngFor="let type of types">
                <input type="radio" name="typeOfVehicle" value="{{type}}" [(ngModel)]="typeOfNewVehicle"
                    checked>{{type}}
            </div>
            <button class="btn btn-success" (click)="typeOfVehicleChosen()">submit</button>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2mm; min-height: 12mm;">
        <button *ngIf="!editButtonClicked && !newButtonClicked" class="btn btn-success" style="margin-left: 60%;" (click)="addNewVehicle()">add new vehicle</button>
        <button *ngIf="!editButtonClicked && !newButtonClicked" class="btn btn-warning" style="margin-left: 10mm;" (click)="editSelectedVehicle()">edit</button>
        <button *ngIf="!editButtonClicked && !newButtonClicked" class="btn btn-danger" style="margin-left: 10mm;" (click)="deleteSelectedVehicle()">delete</button>
</div>